.navbar-custom {
    background-color: #6815EA;
    color: white;
}

.navbar-custom .nav-link {
    color: white;
    font-size: 1em;
}

.navbar-custom .nav-link:hover {
    color: yellow;
}

.logo {
    margin-right: 60px;
}

.nav-avatar {
    object-fit: cover;
    height: 45px;
    width: 45px;
}