 .login-page {
     background-color: #6815EA;
     height: 100vh;
     /* Ajusta la altura de la página según tus necesidades */
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .login-page h1 {
     color: white;
 }