.App {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-wrapper {
  overflow-y: auto;
  height: calc(100vh - 130px);
  /* Ajusta esta altura según sea necesario */
}